a{
    color: tomato; 
    text-decoration: none; 
    border: 1px solid rgb(0, 0, 0); 
    border-radius: 4px;
    margin: auto 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    text-align: center;
}

